<link rel="stylesheet" href="/css/main.css">
<h1 class="display-1 align-item-centers">Fragrance</h1>
<div class="container mt-4">
    <div class="row mt-4 ">
      <div class="col h-4">
        <img src="/image/Fragrance/rose.jpg" class="img-fluid zoom">
      </div>
      <div class="col">
        <img src="/image/Fragrance/lavendar.jpg" class="img-fluid zoom">
      </div>
      <div class="col">
        <img src="/image/Fragrance/mogra.jpg" class="img-fluid zoom">
      </div>
    </div>
    <div class="row mt-4">
      <div class="col">
        <img src="/image/Fragrance/pineapple.jpg" class="img-fluid zoom">
      </div>
      <div class="col">
        <img src="/image/Fragrance/sandalwood.jpg" class="img-fluid zoom">
      </div>
      <div class="col">
        <img src="/image/Fragrance/vanilla.jpg" class="img-fluid zoom">
      </div>
    </div>
  </div>

  <div class="container">
    
  </div>
  